body{
    font-size: 14px;
    background-color: #9789F9;
}
span{
  margin: 0px;
  padding: 0px;
}
h1,h2{
  margin: 0px;
  padding: 0px;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
.fa-icon-twitter{
  padding: 7px 9.57px 7px 10px;
}
.fa-plus{
  padding-left: 2px;
  padding-top: 5px;
  font-size: 7px;
}
*, *::before, *::after{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
   
  }
  * {
    margin: 0;
    padding: 0;
   }
   @font-face {
    font-family: "Bebas Neue Thin";
    src: url('BebasNeue-Thin.eot');
    src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('BebasNeue-Thin.woff') format('woff'),
    url('BebasNeue-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }