body {
  font-size: 14px;
  background-color: #9789F9;
}

span {
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  margin: 0px;
  padding: 0px;
}

.container, .main__container {
  max-width: 1200px;
  margin: 0px auto;
}

.fa-icon-twitter {
  padding: 7px 9.57px 7px 10px;
}

.fa-plus {
  padding-left: 2px;
  padding-top: 5px;
  font-size: 7px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bebas Neue Thin";
  src: url("../fonts/bebas-neue-thin/bebas-neue-thin.eot"); /* IE9 Compat Modes */
  src: url("../fonts/bebas-neue-thin/bebas-neue-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas-neue-thin/bebas-neue-thin.otf") format("opentype"), url("../fonts/bebas-neue-thin/bebas-neue-thin.svg") format("svg"), url("../fonts/bebas-neue-thin/bebas-neue-thin.ttf") format("truetype"), url("../fonts/bebas-neue-thin/bebas-neue-thin.woff") format("woff"), url("../fonts/bebas-neue-thin/bebas-neue-thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Book"), local("Bebas-Neue-Book"), url("BebasNeueBook.woff2") format("woff2"), url("BebasNeueBook.woff") format("woff"), url("BebasNeueBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Thin"), local("Bebas-Neue-Thin"), url("BebasNeue-Thin.woff2") format("woff2"), url("BebasNeue-Thin.woff") format("woff"), url("BebasNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+0000-007F.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+20A0-20CF.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+20A0-20CF;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+0400-04FF.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0400-04FF;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+2000-206F.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+2000-206F;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+1E00-1EFF.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+1E00-1EFF;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+0100-017F.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0100-017F;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+0180-024F.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0180-024F;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+0080-00FF.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0080-00FF;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+2100-214F.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+2100-214F;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+2200-22FF.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+2200-22FF;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+2150-218F.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+2150-218F;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+E000-F8FF.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+E000-F8FF;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+02B0-02FF.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+02B0-02FF;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("https://fontstorage.com/st/bebasneue/300U+2070-209F.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+2070-209F;
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.main__nav {
  font-family: "Roboto";
  font-size: 1.14em;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.main__content {
  display: flex;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.main__content-margin {
  margin-top: 120px;
  margin-bottom: 120px;
}
.main__block-hr {
  font-family: "Bebas Nue";
}
.main__block-left {
  -webkit-transform: translateZ(0);
  filter: drop-shadow(0px 0px 20px #8677EF);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30.8%;
  max-height: 611px;
  background-color: #F5F3F9;
}
.main__block-left-padding {
  padding-top: 40px;
  margin-top: 31px;
}
.main__block-middle {
  -webkit-transform: translateZ(0);
  filter: drop-shadow(0px 0px 20px #8677EF);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  max-height: 673px;
  background-color: #F5F3F9;
}
.main__block-middle-padding {
  padding-top: 50px;
}
.main__block-image {
  position: absolute;
  top: 10px;
  right: -96px;
}
.main__block-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30.8%;
  background-color: #F5F3F9;
  max-height: 611px;
}
.main__block-right-padding {
  padding-top: 40px;
  margin-top: 31px;
}
.main__block-text {
  font-family: "Bebas Neue Book";
  font-size: 1.7em;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}
.main__block-text-padding {
  padding-bottom: 30px;
}
.main__block-text-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-family: "Bebas Neue Thin";
}
.main__block-text-top-padding {
  padding-bottom: 30px;
}
.main__block-text-top-padding-middle {
  padding-bottom: 40px;
}
.main__block-text-top-span {
  font-size: 4.3em;
  line-height: 60px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #000000;
}
.main__block-text-top-span sup {
  font-size: 0.4em;
}
.main__block-text-top-span span {
  font-size: 0.4em;
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #000000;
}
.main__block-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 370px;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/bg-image-left.png");
}
.main__block-bottom-padding {
  padding-top: 30px;
}
.main__block-bottom-middle {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 400px;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/bg-image-left.png");
}
.main__button {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main__button-style {
  font-family: "Bebas Neue";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #6FCFFB;
  border-radius: 30px;
  border-color: transparent;
  padding: 20px 50px;
  color: white;
}
.main__button-style-middle {
  background-color: #FD8D7B;
  border-radius: 30px;
  border-color: transparent;
  padding: 20px 50px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: center;
}
.main__button-middle-margin {
  margin-top: -30px;
  margin-bottom: 30px;
}
.main__button-margin {
  margin-top: 30px;
  margin-bottom: -30px;
}
.main__middle-text {
  font-family: "Bebas Neue Book";
  font-size: 1.7em;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}
.main__button-text {
  font-family: "Roboto";
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #A9A9A9;
}/*# sourceMappingURL=style.css.map */