
*, *::before, *::after{
    box-sizing: border-box;
   
  }
  a {
    text-decoration: none;
    color: #007BFF;
  }
  ul,
  ol,
  li{
    list-style: inside;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
  }
  body{
    font-size: 15px;
    background-color: #E5E5E5;;
  }
  span{
     text-decoration: none;
  }
  #first_Name{
    width: 100%;
    min-height: 38px;
    border-radius: 8px;
}
#last_Name{
	width: 100%;
	min-height: 38px;
	border-radius: 8px;
}
#E-mail{
	width: 100%;
	border-radius: 8px;
	min-height: 38px;
  margin-bottom: 7px;
}
select {
  width: 100%;
    min-height: 38px;
    border-radius:8px;
  }
  #city{
    width: 100%;
    min-height: 38px;
    border-radius: 8px;
  }
  #cities{
    width: 100%;
    min-height: 38px;
    border-radius: 8px;
  }
  
  #sign_Up{
      margin-top: 20px;
      min-width: 500px;
      min-height: 38px;
      border-radius: 8px;
      background-color: #007BFF;
      border-color: transparent;
  }
  hr{
	margin: 25px 0px;
  background-color: #E4E4E4;
}
#first_Name{
	width: 100%;
	min-height: 38px;
	border-radius: 8px;
}
#first_Names{
	width: 100%;
	min-height: 38px;
	border-radius: 8px;
}
#zip_Code{
	width: 100%;
	min-height: 38px;
	border-radius: 8px;
}
#e-mail{
	width: 100%;
	min-height: 38px;
	border-radius: 8px;
}
#phone_Number{
	width: 100%;
	min-height: 38px;
	border-radius: 8px;
}
#sign_Up_footer{
  width: 26.3%;
	min-height: 38px;
	border-radius: 8px;
	background-color: #007BFF;
	color: #FFFFFF;
	border-color: transparent;
	margin-top: 20px;
}
input:focus{
    border-color: #007BFF;
    outline: none;
    border: 2px solid  #007BFF;
    border-radius: 0;
}
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  .custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  input{
    border: 1px solid #E4E4E4;
    padding-left: 10px;
  }
  h2{
    color: #545454;
  }
  