*, *::before, *::after{
	box-sizing: border-box;
   
  }
  * {
    margin: 0;
    padding: 0;
   }

body{
    background-color: #2B81AC;
    box-sizing: border-box;
    
}
.container{
    max-width: 1166px;
    margin: 0px auto;
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode";
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
}
.header_Caption{
  font-size: 22px;
  display: block;
  margin-top: 66px;
  margin-bottom: 40px;
}
.header_Caption h1,i{
  display: inline-block;
}
.header_Caption h1{
  padding-right: 4px;
}
.lisbon_Block{
  border: 1px solid white;
  width: 50%;
  background-color: #3399CC;
  display: inline-block;
  font-size: 22px;
}
.lisbon_Block span{
  display: block;
  text-align: center;
}
.lisbon_Block h2{
  padding-top: 26px;
  padding-bottom: 19px;
}
.lisbon_Block p{
  padding-bottom: 39px;
}
.block_1{
  display: block;
  font-size: 0px;
}
.default_Block{
  font-size: 22px;
  display: inline-block;
  width: 25%;
  border: 1px solid white;
  background-color:#33CCCC;
}
.default_Block h2{
  padding: 26px 111px 91px 19px;
}
.default_Block h2{

}
