*, *::before, *::after{
	box-sizing: border-box;
   
  }
  * {
    margin: 0;
    padding: 0;
   }

.container{
   max-width: 1200px;
   margin: 0px auto;
   box-sizing: border-box;
   font-family: Montserrat;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: 0px;
   text-align: left;
 
}
header{
  margin-top: 27px;
   font-family: Montserrat;
   margin-bottom: 125px;
}
.header_Image{
  vertical-align: middle;
  padding-right: 185px;
}
.header_Content{
  display: inline-block;
}
.header_Content ul{
  display: inline-block;
  text-align: center;
}
.header_List{
}
.header_Content ul li{
  display: inline;
  padding-left: 20px;
}
.header_Content ul li:first-child{
  color: #FF9900;
  padding-left: 0px;
}
a{
  text-decoration: none;
  color: #2F281E
}
.product_Text{
  color: #FF9900;
}
.header_Button{
  background-color: white;
  border: 1px solid #D8D8D8;
}
.header_Button + button{
  margin-left: 30px;
}

.header_Content button{
  padding: 13px 25px;
   border-radius: 4px;
   font-family: Montserrat;
   font-size: 16px;
  font-weight: 600;
text-align: left;


}
.header_Content button + button{
  background-color: #FF9900;
  border: transparent;
  color: white;
}

ul li:last-child{
  padding-right: 185px;
}
h1{
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
}
.main_Content{
  vertical-align: middle;
}
.main_Content span{
  display: block;
}
.main_Content p{
  line-height: 28px;
}
.main_Content button{
  margin-top: 20px;
  min-height: 50px;
  min-width: 180px;
  background-color: #FF9900;
  border-radius: 4px;
  color: white;
  border: transparent;
}
.main_Content h1{
  padding-bottom: 30px;
}
.main_Content button span{
  font-family: "Poppins";
  min-width: 93px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.section_Content{
  display: block;
  vertical-align: bottom;
}
.main_Content{
  display: inline-block;
}
.image_Block {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  padding-left: 56px;
}

.main_Content{
  vertical-align: top;
  padding-top: 109px;
}
.design_Content {
  margin-top: 99px;
}
.bg_Content{
   background-image: url('../img/bg_desigh_Content.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.design_Content_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 50px;
}
.design_Content_list{
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 40px;
}
.design_Content_block h3{
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;

}
.design_Content_block{
  display: flex;
  flex-direction: column;
}
.design_Content_block p{
  max-width: 270px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;

}
.design_Content_image{
  max-width: 51px;
  max-height: 50px;
  margin-bottom: 30px;
}
.design_Content_block :nth-child(2){
  padding-bottom: 16px;
}
.design_button{
  min-width: 180px;
  min-height: 50px;
  background-color: #FF9900;
  color: white;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border: transparent;
  border-radius: 4px;

}
.design_Content_button{
  font-family: "Poppins";
  padding-bottom: 74px;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.footer_Content{
  display: flex;
  margin-top: 73px;
  font-family: "Montserrat";
   font-size: 16px;
}
.footer_Logo{
  padding-right: 130px;
}
.footer_Content_list{
  display: flex;
  flex-direction: column;
}
.footer_Content_list h3{
  padding-bottom: 30px;
}
.footer_Content_list ul li{
  list-style: none;
  padding-bottom: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.footer_Content_list ul li:last-child{
  padding-bottom: 70px;
  white-space: nowrap;
}

.footer_Content_right h3{
  max-width: 280px;
  padding-bottom: 25px;
}
.footer_Content_right input::placeholder {
  font-weight: bold;
  color: #BCD0E5;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;

}
.footer_Content_right input[type="tel"]{
  min-width: 340px;
  min-height: 50px;
  border: #BCD0E5 1px solid;
  padding-left: 12px;
  font-weight: bold;
  color: black;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 25px;
}
.footer_Middle_container{
  max-width: 133px;
  margin-right: 132px;
}
.footer_Content_right input[type="submit"]{
  min-width: 180px;
  min-height: 50px;
  background-color: #FF9900;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border: transparent;
  border-radius: 4px;
}


