@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('Bebas-Neue-Book'),
        url('BebasNeueBook.woff2') format('woff2'),
        url('BebasNeueBook.woff') format('woff'),
        url('BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }