.design{
    &__container{
        @extend .container;
    }
    &__span{
        max-width: 173px;
    }
    &__content{
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        @media screen and (max-width: $tablet-little-resulition){
            flex-direction: column-reverse;
            row-gap: 70px;
          }
          @media screen and (max-width: $big-mobile-resulution){
            row-gap: 70px;
          }
          @media screen and (max-width: $mobile-resulution){
            row-gap: 120px;
          }
          @media screen and (max-width: $ultra_mini-resulition){
            row-gap: 150px;
          }
        &-reverse{
            display: flex;
        flex-direction: row;
        column-gap: 32px;
        @media screen and (max-width: $tablet-little-resulition){
            flex-direction: column;
            row-gap: 50px;
          }
          @media screen and (max-width: $big-mobile-resulution){
            row-gap: 50px;
          }
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        @media screen and (max-width: $tablet-middle-resolution){
            row-gap: 70px;
        }
    }
    &__reverse{
        display: flex;
        flex-direction: row-reverse;
        column-gap: 32px;
    }
    &__text-reverse-padding{
        padding-left: 120px;
        @media screen and (max-width: $big-tablet-resolution){
            padding-left: 0px;
        }
    }
    &__image{
        display: flex;
        width: 50%;
        max-width: 50%;
        & img{
            max-width: 100%;
        }
        @media screen and (max-width: $tablet-resolution){
            max-width: 340px;
            max-height: 280px;
        }
        @media screen and (max-width: $tablet-little-resulition){
            width: 100%;
            max-width: 100%;
        }

    }
    &__text{
        display: flex;
        width: 50%;
        flex-direction: column;
        max-width: 50%;
        @media screen and (max-width: $tablet-resolution){
            
            max-height: 280px;
        }
        @media screen and (max-width: $tablet-little-resulition){
            width: 100%;
            max-width: 100%;
          }
        &-position {
            &-reverse:nth-child(3){
                max-width: 153px;
            }
            &-reverse>span{
                max-width: 448px;
            }
            &-reverse > span > span{
                max-width: 415px;
            }
            position-reverse > span > span > span{
                max-width: 173px;
            }
        }
        &-position span > span{
            @media screen and (max-width: $tablet-resolution){
                display: none;
            }
            @media screen and (max-width: $mobile-resulution){
                display: inline;
            }
        }
    }
    &__little-text{
        @include font-Lato-16;
        display: flex;
    }
    &__little-text-padding{
        padding-top: 85px;
        padding-bottom: 30px;
        @media screen and (max-width: $tablet-resolution){
            padding-top: 0px;
        }
    }
    &__caption{
        @include font-Red-Hat-Display-24;
        max-width: 369px;
        @media screen and (max-width: $big-mobile-resulution){
            font-size: 1.57em;
          }

    }
    &__caption-padding{
        padding-bottom: 15px;
    }
    &__little-text-padding-top{
        padding-top: 50px;
        @media screen and (max-width: $tablet-resolution){
            padding-top: 0px;
        }
    }
    &__little-text{
        display: inline;
    }
    &__arrows{
        @media screen and (max-width: $mobile-resulution){
            display: none;
        }
        &-margin{
            margin-left: 11px;
        }

    }
    &__arrows:hover::before{
        cursor: pointer;
        content: 'Read more';
    }
    &__text-position-padding{
        padding-right: 32px;
    }
}