.footer{
    background-color: #F4F4F4;
    &__container{
        @extend .container;
        @media screen and (max-width: $container-resolution){
            overflow: hidden;
          }
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__content-caption{
        @include font-Red-Hat-Display-48;
        &-padding{
        padding-top: 70px;
        padding-bottom: 30px;
        }
    }
    &__navigation{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: end;
        
        &-list{
            display: flex;
            list-style: none;
            column-gap: 23px;
        }
        &-item{
            border: 1px solid #565656;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50px;
            min-height: 50px;
        }
        &-padding{
            padding-top: 70px;
        }

    }
    &__navigation-item:hover{
        cursor: pointer;
        background-color: #565656;
    }
    &__navigation-item:hover &__icon-style{
            fill: #FFFFFF;
        }
    &__block{
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $tablet-resolution){
            flex-direction: column;
          }
        &-text{
            display: flex;
            align-items: center;
            &-span{
            font-family: "Lato";
            font-size: 1.14em;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.1em;
            text-align: left;

            }
        }
    }
    &__bottom{
        &-text{
            font-family: "Lato";
            font-size: 1.14em;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.1em;
            text-align: left;
        }
        &-padding{
            padding-top: 15px;
        }
    }
    &__extra{
        display: flex;
        justify-content: center;
        &-padding{
            padding-top: 26px;
            padding-bottom: 30px;
        }
        &-text{
        font-family: "Lato";
        font-size: 0.86em;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-align: left;
        color: #000000;
        }
    }
}