body{
    font-size: 14px;
}
.container{
    max-width: 1170px;
    margin: 0px auto;
    width: 90%;
    @media screen and (max-width: $container-resolution){
      overflow: hidden;
    }
      
    }

.fa-icon-twitter{
  padding: 7px 9.57px 7px 10px;
}
.fa-plus{
  padding-left: 2px;
  padding-top: 5px;
  font-size: 7px;
}
*, *::before, *::after{
	box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color:$black;
  }
  * {
    margin: 0;
    padding: 0;
   }
p{
  margin: 0px;
  padding: 0px;
}
h{
  margin: 0px;
  padding: 0px;
}
h1{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}