.header {
    &__container{
        @extend .container;
        @media screen and (max-width: $container-resolution){
            overflow: hidden;
          }
    }
    &__logo-padding{
        padding-top: 44px;
        padding-bottom: 44px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $ultra_mini-resulition){
            flex-wrap: wrap;
          }
        
    }
    &__right-content{
        display: flex;
        column-gap: 84px;
        @media screen and (max-width: $header-resolution){
            column-gap: 20px;
          }
    }
    &__menu{
        @media screen and (max-width: $tablet-resolution){
            display: none;
          }
    }
    &__menu-item:active:after{
    content: '';
    display: block;
    height: 1px;
    margin-left:8px;
    margin-top: 2px;
    margin-right: 10px;
    background: #000000;
    }
    &__menu-padding{
        padding-top: 42px;
        padding-bottom: 42px;
    }
    &__menu-item{
        @include font-Lato-14;
        color: $black;
    }
    &__menu-list{
        display: flex;
        list-style: none;
        column-gap: 42px;
    }
   
}
.header__search{
    padding-top: 42px;
    @media screen and (max-width: $tablet-resolution){
        display: flex;
        flex-direction: row;
        column-gap: 40px;
      }
      @media screen and (max-width: $mobile-resulution){
        display: flex;
        flex-direction: row;
        column-gap: 20px;
      }
    &-burger{
        opacity: 0;
        position: absolute;
        @media screen and (max-width: $tablet-resolution){
            opacity: 1;
            position: relative;
          }
    }
    &-block{
        @media screen and (max-width: $tablet-resolution){
            position: relative;
          }
    }



}