.manifest{
    &__first-screen{
        background-image: url('../img/section_bg-image.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &__container{
        @extend .container;
    }
    &__title-padding{
        padding-top: 100px;
        
    }
    &__title{

    }
    &__title h1{
        @include font-Red-Hat-Display-48;
        font-weight: 600;

    }
}