.manifest{
    &__first-screen{
        background-image: url('../img/section_bg-image.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 600px;
    }
    &__container{
        @extend .container;
        @media screen and (max-width: $container-resolution){
            overflow: hidden;
          }
    }
    &__title-padding{
        padding-top: 100px;
        
    }
    &__title{

    }
    &__title h1{
        @include font-Red-Hat-Display-48;
        font-weight: 600;

    }
}