.popular{
    &__padding{
        padding-top: 112px;
    }
    &__container{
        @extend .container;
        
    }
    &__caption{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $tablet-little-resulition){
            flex-direction: column;
            justify-content: start;
        }
        &-padding{
            padding-bottom: 46px;
        }
        &-block{
            max-width: 570px;
            &-text{
                @include font-Red-Hat-Display-24-extra; 
            }
            &-bottom{
            font-family: "Lato";
            font-size: 1.14em;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.05em;
            text-align: left;
            max-width: 540px;
            }
        }

        

    }
    &__title{
        @include font-Red-Hat-Display-28;
        &-position{
            display: flex;
        }
    }
    &__right{
        display: flex;
        flex-direction: row;
        align-items: center;
        color:#7B7B7B;
        &-text{
            @include font-Lato-16;
        }
        &-icon{
            margin-left: 20px;
        }
    }
    &__right:hover{
        color:#000000;
        cursor: pointer;
    }
    &__content{
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        @media screen and (max-width: $tablet-little-resulition){
            flex-direction: column;
            row-gap: 50px;
        }
        &-right{
            display: flex;
            width: 50%;
            flex-direction: column;
            row-gap: 20px;
            @media screen and (max-width: $tablet-little-resulition){
                max-width: 100%;
                width: 100%;
            }
            & img{
                @media screen and (max-width: $tablet-little-resulition){
                    max-width: 100%;
                    width: 100%;
                }
                max-width: 100%;
            }
        }
    
        &-left{
            display: flex;
            width: 50%;
            flex-direction: column;
            row-gap: 20px;
            @media screen and (max-width: $tablet-little-resulition){
                max-width: 100%;
                width: 100%;
            }
            & img{
                @media screen and (max-width: $tablet-little-resulition){
                    max-width: 100%;
                    width: 100%;
                }
                max-width: 100%;
            }
        }
        &-text{
            @include font-Lato-12;
        }
        &-bottom{
            display: flex;
            justify-content: space-between;
        }
    }

}