.posts{
    &__container{
        @extend .container;
        @media screen and (max-width: $container-resolution){
            overflow: hidden;
        }
    }
    &__padding{
        padding-top: 90px;
    }
    &__caption{
        display: flex;
        justify-content: space-between;
        &-padding{
            padding-bottom: 50px;
        }
        @media screen and (max-width: $tablet-little-resulition){
            flex-direction: column;
            justify-content: start;
            align-items:start;
        }
    }
    &__title{
        @include font-Red-Hat-Display-28;
        &__title-position{
            display: flex;
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#7B7B7B;
        &-text{
            @include font-Lato-16;
        }

        &-icon{
            margin-left: 20px;
            fill:#7B7B7B;
        }
        &-icon:hover{
            color:#000000;
        }
        &-text:active &-icon{
            fill:#000000;
        }
        &-text:hover &-icon{
            fill:#000000;
        }

    }
    &__right:hover{
        color:#000000;
        cursor: pointer;
    }
    &__content{
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        @media screen and (max-width: $tablet-resolution){
            flex-direction: column;
            row-gap: 30px;
        }
        &-left{
            display: flex;
            flex-direction: column;
            width: 33.33%;
            max-width: 33.33%;
            @media screen and (max-width: $tablet-resolution){
                flex-direction: row;
                width: 100%;
                max-width: 100%;
                column-gap: 20px;
            }
            @media screen and (max-width: $tablet-little-resulition){
                flex-direction: column;
            }
            & img{
                max-width: 100%;
            @media screen and (max-width: $container-resolution){
                max-width: 100%;
                max-height: 100%;
            }
            @media screen and (max-width: $tablet-resolution){
                max-width: 340px;
                max-height: 240px;
            }
            @media screen and (max-width: $tablet-little-resulition){
                width: 100%;
                max-width: 100%;
            }
        }
        }
        &-caption{
            @include font-Red-Hat-Display-22;
            &-padding{
                padding-bottom: 20px;
            }
        }
        &-caption-padding{
            padding-bottom: 20px;
        }
        &-center{
            display: flex;
            flex-direction: column;
            width: 33.33%;
            max-width: 33.33%;
            @media screen and (max-width: $tablet-resolution){
                flex-direction: row-reverse;
                width: 100%;
                max-width: 100%;
                column-gap: 20px;
            }
            @media screen and (max-width: $tablet-little-resulition){
                flex-direction: column;
            }
            & img{
                max-width: 100%;
            @media screen and (max-width: $container-resolution){
                max-width: 100%;
                max-height: 100%;
            }
            @media screen and (max-width: $tablet-resolution){
                max-width: 340px;
                max-height: 240px;
            }
            @media screen and (max-width: $tablet-little-resulition){
                width: 100%;
                max-width: 100%;
            }
        }
}
        &-right{
            display: flex;
            flex-direction: column;
            width: 33.33%;
            max-width: 33.33%;
            @media screen and (max-width: $tablet-resolution){
                flex-direction: row;
                width: 100%;
                max-width: 100%;
                column-gap: 20px;
            }
            @media screen and (max-width: $tablet-little-resulition){
                flex-direction: column;
            }
            & img{
            max-width: 100%;
            @media screen and (max-width: $container-resolution){
                max-width: 100%;
                max-height: 100%;
            }
            @media screen and (max-width: $tablet-resolution){
                max-width: 340px;
                max-height: 240px;
            }
            @media screen and (max-width: $tablet-little-resulition){
                width: 100%;
                max-width: 100%;
            }
        }
}
        &-text{
            @include font-Lato-12;
        }
        &-text-extra{
            @include font-Lato-16;
            color: #565656;
            
        }
        &-bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-padding{
                padding-top: 25px;
                padding-bottom: 26px;
                @media screen and (max-width: $tablet-resolution){
                    padding-top: 0px;
                }
            } 
        }
    }
}       