$black:#000000;
$tablet:768px;
$container-resolution: 1230px;
$big-tablet-resolution:962px;
$header-resolution: 868px;
$tablet-resolution: 768px;
$tablet-middle-resolution: 727px;
$tablet-little-resulition:608px;
$tablet-mini-resolution:453px;
$big-mobile-resulution:327px;
$mobile-resulution:320px;
$ultra_little-resulition:265px;
$middle-mobile-resolution:300px;
$ultra_mini-resulition:246px;

