$black:#000000;
$tablet:768px;
$container-resolution: 1230px;
$header-resolution: 868px;
$tablet-resolution: 768px;
$tablet-mini-resolution:453px;
$mobile-resulution: 320px;
$ultra_mini-resulition:246px;
