body {
  font-size: 14px;
}

.container, .footer__container, .load__container, .popular__container, .posts__container, .design__container, .blog__container, .manifest__container, .header__container {
  max-width: 1170px;
  margin: 0px auto;
  width: 90%;
}

.fa-icon-twitter {
  padding: 7px 9.57px 7px 10px;
}

.fa-plus {
  padding-left: 2px;
  padding-top: 5px;
  font-size: 7px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
  padding: 0px;
}

h {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1230px) {
  .header__container {
    overflow: hidden;
  }
}
.header__logo-padding {
  padding-top: 44px;
  padding-bottom: 44px;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 246px) {
  .header__content {
    flex-wrap: wrap;
  }
}
.header__right-content {
  display: flex;
  -moz-column-gap: 84px;
       column-gap: 84px;
}
@media screen and (max-width: 868px) {
  .header__right-content {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item:hover:after {
  content: "";
  display: block;
  height: 1px;
  margin-left: 8px;
  margin-top: 2px;
  margin-right: 10px;
  background: #000000;
}
.header__menu-padding {
  padding-top: 42px;
  padding-bottom: 42px;
}
.header__menu-item {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-align: left;
  color: #000000;
}
.header__menu-list {
  display: flex;
  list-style: none;
  -moz-column-gap: 42px;
       column-gap: 42px;
}

.header__search {
  padding-top: 42px;
}
@media screen and (max-width: 768px) {
  .header__search {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media screen and (max-width: 320px) {
  .header__search {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__search-burger {
  opacity: 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .header__search-burger {
    opacity: 1;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .header__search-block {
    position: relative;
  }
}

.manifest__first-screen {
  background-image: url("../img/section_bg-image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
}
@media screen and (max-width: 768px) {
  .manifest__first-screen {
    width: 100%;
    height: 53%;
    height: 320px;
  }
}
@media screen and (max-width: 320px) {
  .manifest__first-screen {
    background-image: url("../img/section_bg-image-mobile.png");
    height: 500px;
  }
}
@media screen and (max-width: 1230px) {
  .manifest__container {
    overflow: hidden;
  }
}
@media screen and (max-width: 320px) {
  .manifest__container {
    overflow: hidden;
    width: 100%;
  }
}
.manifest__title-padding {
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  .manifest__title-padding {
    padding-top: 30px;
  }
}
@media screen and (max-width: 453px) {
  .manifest__title-padding {
    padding-top: 0px;
  }
}
.manifest__title h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3.42em;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .manifest__title h1 {
    font-family: "Red Hat Display";
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .manifest__title h1 {
    font-family: "Red Hat Display";
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}

.blog h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3.42em;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 600;
}
.blog__padding {
  padding-top: 90px;
  padding-bottom: 50px;
}
.blog__Tech {
  padding-top: 85px;
}

.design__span {
  max-width: 173px;
}
.design__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 608px) {
  .design__content {
    flex-direction: column-reverse;
    row-gap: 70px;
  }
}
@media screen and (max-width: 327px) {
  .design__content {
    row-gap: 70px;
  }
}
@media screen and (max-width: 320px) {
  .design__content {
    row-gap: 120px;
  }
}
@media screen and (max-width: 246px) {
  .design__content {
    row-gap: 150px;
  }
}
.design__content-reverse {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width: 608px) {
  .design__content-reverse {
    flex-direction: column;
    row-gap: 50px;
  }
}
@media screen and (max-width: 327px) {
  .design__content-reverse {
    row-gap: 50px;
  }
}
.design__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media screen and (max-width: 727px) {
  .design__wrapper {
    row-gap: 70px;
  }
}
.design__reverse {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.design__text-reverse-padding {
  padding-left: 120px;
}
@media screen and (max-width: 962px) {
  .design__text-reverse-padding {
    padding-left: 0px;
  }
}
.design__image {
  display: flex;
  width: 50%;
  max-width: 50%;
}
.design__image img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .design__image {
    max-width: 340px;
    max-height: 280px;
  }
}
@media screen and (max-width: 608px) {
  .design__image {
    width: 100%;
    max-width: 100%;
  }
}
.design__text {
  display: flex;
  width: 50%;
  flex-direction: column;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .design__text {
    max-height: 280px;
  }
}
@media screen and (max-width: 608px) {
  .design__text {
    width: 100%;
    max-width: 100%;
  }
}
.design__text-position-reverse:nth-child(3) {
  max-width: 153px;
}
.design__text-position-reverse > span {
  max-width: 448px;
}
.design__text-position-reverse > span > span {
  max-width: 415px;
}
.design__text-position position-reverse > span > span > span {
  max-width: 173px;
}
@media screen and (max-width: 768px) {
  .design__text-position span > span {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .design__text-position span > span {
    display: inline;
  }
}
.design__little-text {
  font-family: "Lato", sans-serif;
  font-size: 1.14em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
  display: flex;
}
.design__little-text-padding {
  padding-top: 85px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .design__little-text-padding {
    padding-top: 0px;
  }
}
.design__caption {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.64em;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
  max-width: 369px;
}
@media screen and (max-width: 327px) {
  .design__caption {
    font-size: 1.57em;
  }
}
.design__caption-padding {
  padding-bottom: 15px;
}
.design__little-text-padding-top {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .design__little-text-padding-top {
    padding-top: 0px;
  }
}
.design__little-text {
  display: inline;
}
@media screen and (max-width: 320px) {
  .design__arrows {
    display: none;
  }
}
.design__arrows-margin {
  margin-left: 11px;
}
.design__arrows:hover::before {
  cursor: pointer;
  content: "Read more";
}
.design__text-position-padding {
  padding-right: 32px;
}

@media screen and (max-width: 1230px) {
  .posts__container {
    overflow: hidden;
  }
}
.posts__padding {
  padding-top: 90px;
}
.posts__caption {
  display: flex;
  justify-content: space-between;
}
.posts__caption-padding {
  padding-bottom: 50px;
}
@media screen and (max-width: 608px) {
  .posts__caption {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
.posts__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000000;
}
.posts__title__title-position {
  display: flex;
}
.posts__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7B7B7B;
}
.posts__right-text {
  font-family: "Lato", sans-serif;
  font-size: 1.14em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
}
.posts__right-icon {
  margin-left: 20px;
}
.posts__right-icon:hover {
  color: #000000;
}
.posts__right:hover {
  color: #000000;
  cursor: pointer;
}
.posts__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .posts__content {
    flex-direction: column;
    row-gap: 30px;
  }
}
.posts__content-left {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  max-width: 33.33%;
}
@media screen and (max-width: 768px) {
  .posts__content-left {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 608px) {
  .posts__content-left {
    flex-direction: column;
  }
}
.posts__content-left img {
  max-width: 100%;
}
@media screen and (max-width: 1230px) {
  .posts__content-left img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .posts__content-left img {
    max-width: 340px;
    max-height: 240px;
  }
}
@media screen and (max-width: 608px) {
  .posts__content-left img {
    width: 100%;
    max-width: 100%;
  }
}
.posts__content-caption {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.57em;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000000;
}
.posts__content-caption-padding {
  padding-bottom: 20px;
}
.posts__content-caption-padding {
  padding-bottom: 20px;
}
.posts__content-center {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  max-width: 33.33%;
}
@media screen and (max-width: 768px) {
  .posts__content-center {
    flex-direction: row-reverse;
    width: 100%;
    max-width: 100%;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 608px) {
  .posts__content-center {
    flex-direction: column;
  }
}
.posts__content-center img {
  max-width: 100%;
}
@media screen and (max-width: 1230px) {
  .posts__content-center img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .posts__content-center img {
    max-width: 340px;
    max-height: 240px;
  }
}
@media screen and (max-width: 608px) {
  .posts__content-center img {
    width: 100%;
    max-width: 100%;
  }
}
.posts__content-right {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  max-width: 33.33%;
}
@media screen and (max-width: 768px) {
  .posts__content-right {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 608px) {
  .posts__content-right {
    flex-direction: column;
  }
}
.posts__content-right img {
  max-width: 100%;
}
@media screen and (max-width: 1230px) {
  .posts__content-right img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .posts__content-right img {
    max-width: 340px;
    max-height: 240px;
  }
}
@media screen and (max-width: 608px) {
  .posts__content-right img {
    width: 100%;
    max-width: 100%;
  }
}
.posts__content-text {
  font-family: "Lato", sans-serif;
  font-size: 0.86em;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #7B7B7B;
}
.posts__content-text-extra {
  font-family: "Lato", sans-serif;
  font-size: 1.14em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
}
.posts__content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.posts__content-bottom-padding {
  padding-top: 25px;
  padding-bottom: 26px;
}
@media screen and (max-width: 768px) {
  .posts__content-bottom-padding {
    padding-top: 0px;
  }
}

.popular__padding {
  padding-top: 112px;
}
.popular__caption {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 608px) {
  .popular__caption {
    flex-direction: column;
    justify-content: start;
  }
}
.popular__caption-padding {
  padding-bottom: 46px;
}
.popular__caption-block {
  max-width: 570px;
}
.popular__caption-block-text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.71em;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-align: left;
}
.popular__caption-block-bottom {
  font-family: "Lato";
  font-size: 1.14em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  max-width: 540px;
}
.popular__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000000;
}
.popular__title-position {
  display: flex;
}
.popular__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7B7B7B;
}
.popular__right-text {
  font-family: "Lato", sans-serif;
  font-size: 1.14em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
}
.popular__right-icon {
  margin-left: 20px;
}
.popular__right:hover {
  color: #000000;
  cursor: pointer;
}
.popular__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 608px) {
  .popular__content {
    flex-direction: column;
    row-gap: 50px;
  }
}
.popular__content-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (max-width: 608px) {
  .popular__content-right {
    max-width: 100%;
    width: 100%;
  }
}
.popular__content-right img {
  max-width: 100%;
}
@media screen and (max-width: 608px) {
  .popular__content-right img {
    max-width: 100%;
    width: 100%;
  }
}
.popular__content-left {
  display: flex;
  width: 50%;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (max-width: 608px) {
  .popular__content-left {
    max-width: 100%;
    width: 100%;
  }
}
.popular__content-left img {
  max-width: 100%;
}
@media screen and (max-width: 608px) {
  .popular__content-left img {
    max-width: 100%;
    width: 100%;
  }
}
.popular__content-text {
  font-family: "Lato", sans-serif;
  font-size: 0.86em;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #7B7B7B;
}
.popular__content-bottom {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1230px) {
  .load__container {
    overflow: hidden;
  }
}
.load__padding {
  padding-top: 54px;
}
.load__button {
  display: flex;
  justify-content: center;
}
.load__button-style {
  background-color: #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  min-height: 46px;
  color: #FFFFFF;
  font-family: "Lato";
  font-size: 1.14em;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
  border: transparent;
}
.load__button-style:hover {
  background-color: #323232;
  cursor: pointer;
}
.load__button-padding {
  padding-bottom: 90px;
}
.load__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 230px;
       column-gap: 230px;
}
@media screen and (max-width: 768px) {
  .load__content {
    flex-direction: column;
  }
}
.load__content-left {
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Display";
  font-size: 1.64em;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .load__content-left {
    width: 100%;
  }
}
.load__content-right {
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  font-size: 1.35em;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .load__content-right {
    width: 100%;
    text-align: right;
  }
}
.load__content-right-bottom {
  padding-top: 50px;
}
.load__content-padding {
  padding-bottom: 90px;
}
.load__arrows:hover::before {
  cursor: pointer;
  content: "Read more";
}

.footer {
  background-color: #F4F4F4;
}
@media screen and (max-width: 1230px) {
  .footer__container {
    overflow: hidden;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer__content-caption {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3.42em;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer__content-caption-padding {
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer__navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: end;
}
.footer__navigation-list {
  display: flex;
  list-style: none;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.footer__navigation-item {
  border: 1px solid #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
}
.footer__navigation-item:hover {
  cursor: pointer;
  background-color: #565656;
}
.footer__navigation-item:hover .footer__icon-style {
  fill: #FFFFFF;
}
.footer__block {
  display: flex;
  flex-direction: row;
}
.footer__block-text {
  display: flex;
  align-items: center;
}
.footer__block-text-span {
  font-family: "Lato";
  font-size: 1.14em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
}
.footer__bottom-text {
  font-family: "Lato";
  font-size: 1.14em;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
}
.footer__bottom-padding {
  padding-top: 15px;
}
.footer__extra {
  display: flex;
  justify-content: center;
}
.footer__extra-padding {
  padding-top: 26px;
  padding-bottom: 30px;
}
.footer__extra-text {
  font-family: "Lato";
  font-size: 0.86em;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000000;
}/*# sourceMappingURL=style.css.map */