@mixin lato {
    font-family: "Lato";
    font-weight: 400;
}
@mixin Red_hat_Display-48{
    font-family: "Red Hat Display";
    font-size: 3.43em;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.05em;
    text-align: left;
}